{% extends 'base.html' %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">DEXratio News</h1>
    <p class="col-md-13 fs-4">Convenient place for staying up to date with multiple cryptocurrency and blockchain news publishers in one place.</p>
  </div>
</div>
<br/>

<table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Name: </th>
        <th scope="col">Price: </th>
        <th scope="col">Market Cap: </th>
        <th scope="col">High Day: </th>
        <th scope="col">Low Day: </th>
      </tr>
    </thead>
    <tbody>
      {% for key,value in price.DISPLAY.items %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value.USD.PRICE }}</td>
        <td>{{ value.USD.MKTCAP }}</td>
        <td>{{ value.USD.HIGHDAY }}</td>
        <td>{{ value.USD.LOWDAY }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<div class="container">
    <div class="row">
        {% for x in api.Data %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="{{ x.imageurl }}" class="card-img-top" alt="{{ x.source }}">
                <div class="card-body">
                <h5 class="card-title">{{ x.title }}</h5>
                <p class="card-text">{{ x.body }}</p>
                <a href="{{ x.url }}" class="btn btn-secondary">Read More</a>
                </div>
            </div>
            <br/>
        </div>
        {% endfor %}
    </div>
</div>




{{ api.Data }}

{% endblock %}
